/* font Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: #f6f8fc;
    --button-color: #6c79db;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--background-color);
}

ol, ul {
  list-style: none;
}

.content {
  display: none;
  padding: 1rem;
  background-color: white;
  height: 100svh;
}

.content.selected {
  display: block;
}

.content__details {
  display: none;
  height: 100svh;
  background-color: white;
}

.content__details.selected {
  display: block;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.load-more {
background-color: var(--button-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius:1rem;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: auto;
    border-radius: 1rem;
  } 

  .content__details {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
    overflow: hidden;
  } 
}
