

:root {
  --grass-type-color: #49d0b0;
  --grass-type-color-light: #61e1ca;
  --fire-type-color: #fc6c6d;
  --fire-type-color-light: #f68e8a;
  --water-type-color: #76befe;
  --water-type-color-light: #91d2fe;
  --eletric-type-color: #ffd76f;
  --eletric-type-color-light: #ffe67e;
  --normal-type-color: #a8a77a;
  --normal-type-color-light: #c0c09a;
  --fighting-type-color: #c22e28;
  --fighting-type-color-light: #d34a46;
  --poison-type-color: #a33ea1;
  --poison-type-color-light: #b85fc0;
  --ground-type-color: #e2bf65;
  --ground-type-color-light: #e8d08a;
  --flying-type-color: #a98ff3;
  --flying-type-color-light: #b7a0f5;
  --psychic-type-color: #f95587;
  --psychic-type-color-light: #f97fa0;
  --bug-type-color: #a6b91a;
  --bug-type-color-light: #b8c33a;
  --rock-type-color: #b6a136;
  --rock-type-color-light: #c1b44a;
  --ghost-type-color: #735797;
  --ghost-type-color-light: #8a6cb0;
  --dragon-type-color: #6f35fc;
  --dragon-type-color-light: #7f5bff;
  --dark-type-color: #705746;
  --dark-type-color-light: #7f6a5b;
  --steel-type-color: #b7b7ce;
  --steel-type-color-light: #c9c9d8;
  --fairy-type-color: #d685ad;
  --fairy-type-color-light: #e0a2c1;
  --ice-type-color: #98d8d8;
  --ice-type-color-light: #a7e9e9;
}


.grass {
  background-color: var(--grass-type-color);
}

.grass .pokemon__type {
  background-color: var(--grass-type-color-light);
}

.fire {
  background-color: var(--fire-type-color);
}

.fire .pokemon__type {
  background-color: var(--fire-type-color-light);
}

.water {
  background-color: var(--water-type-color);
}

.water .pokemon__type {
  background-color: var(--water-type-color-light);
}

.electric {
  background-color: var(--eletric-type-color);
}

.electric .pokemon__type {
  background-color: var(--eletric-type-color-light);
}

.normal {
  background-color: var(--normal-type-color);
}

.normal .pokemon__type {
  background-color: var(--normal-type-color-light);
}

.fighting {
  background-color: var(--fighting-type-color);
}

.fighting .pokemon__type {
  background-color: var(--fighting-type-color-light);
}

.poison {
  background-color: var(--poison-type-color);
}

.poison .pokemon__type {
  background-color: var(--poison-type-color-light);
}

.ground {
  background-color: var(--ground-type-color);
}

.ground .pokemon__type {
  background-color: var(--ground-type-color-light);
}

.flying {
  background-color: var(--flying-type-color);
}

.flying .pokemon__type {
  background-color: var(--flying-type-color-light);
}

.psychic {
  background-color: var(--psychic-type-color);
}

.psychic .pokemon__type {
  background-color: var(--psychic-type-color-light);
}

.bug {
  background-color: var(--bug-type-color);
}

.bug .pokemon__type {
  background-color: var(--bug-type-color-light);
}

.rock {
  background-color: var(--rock-type-color);
}

.rock .pokemon__type {
  background-color: var(--rock-type-color-light);
}

.ghost {
  background-color: var(--ghost-type-color);
}

.ghost .pokemon__type {
  background-color: var(--ghost-type-color-light);
}

.dragon {
  background-color: var(--dragon-type-color);
}

.dragon .pokemon__type {
  background-color: var(--dragon-type-color-light);
}

.dark {
  background-color: var(--dark-type-color);
}

.dark .pokemon__type {
  background-color: var(--dark-type-color-light);
}

.steel {
  background-color: var(--steel-type-color);
}

.steel .pokemon__type {
  background-color: var(--steel-type-color-light);
}

.fairy {
  background-color: var(--fairy-type-color);
}

.fairy .pokemon__type {
  background-color: var(--fairy-type-color-light);
}

.ice {
  background-color: var(--ice-type-color);
}

.ice .pokemon__type {
  background-color: var(--ice-type-color-light);
}